$black:#4D606D;
$black-1: #141414;
$black-2: #111;

$white: #fff;
$white-1: #e1e1e1;
$white-2: #d0d0d0;

$gray-1: #fefefe;
$gray-2: #808080;
$gray-3: #333;
$gray-4: #545455;






$rgba-gray-1: rgba(37,37,37,0.61);