@import "./colors.scss";
@import "./font-family.scss";
@import "./mixins.scss";
@import "./variables.scss";

// Global

head,
body,
html {
  font-size: $one_rem;
  color: $black;
  margin: 0;
}

* {
  margin:0;
}

body {
  background-color: $black-1;
}

:root {
  --bg-theme: $black-1;
  --primary-text-white: $gray-1;
  --secondary-text-grey: $gray-2;
}
