$one_rem: 1rem;
$contain: contain;
$flex: flex;
$fill: fill;
$normal: normal;
$column: column;
$solid: solid;
$bold: bold;
$pointer: pointer;
$absolute: absolute;
$transparent: transparent;
$cover: cover;
$wrap: wrap;
$row: row;
$hidden: hidden;
$scroll: scroll;
$none: none;
$fixed: fixed;
$easeIn: ease-in;